<ion-view title="Employee">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <!-- content-->
    <div ng-controller="Employee" ng-app="customerModule">
    <ion-content>
    Employee   
    </ion-content>

    <ion-content class="background">
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
        
        <div class="ft-container">
        
            <accordion >
            <!-- details -->
                <accordion-group is-open="status.isFirstOpen">
                  <accordion-heading>
                        Details <i class="pull-right glyphicon" ng-class="{'ion-chevron-down': status.isFirstOpen, 'ion-chevron-right': !status.isFirstOpen}"></i>
                    </accordion-heading>
                    <!-- <div class="item item-input-inset" style="border:none">
                        <img src="http://localhost/ems/images/no_avatar.jpg" style="border:2px solid #474747;border-radius:100%">
                                          
                    </div> -->
                    <div class="item item-input-inset" style="border:none">
                        
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="Name" ng-model="formData.name"> 
                        </label>                    
                    </div>
                    <div class="item item-input-inset" style="border:none">
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="Email" ng-model="formData.email"> 
                        </label>                    
                    </div>
                    <div class="item item-input-inset" style="border:none">
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="Birth Date" ng-model="formData.birth_date"> 
                        </label>                    
                    </div>
                    <div class="item item-input-inset" style="border:none">
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="SSN" ng-model="formData.ssn"> 
                        </label>                    
                    </div>

                    <div class="item item-input-inset" style="border:none"><span class="label label-info">Gender</span> &nbsp;&nbsp;
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="formData.gender" btn-radio="'Male'">Male</label>
                            <label class="btn btn-primary" ng-model="formData.gender" btn-radio="'Female'">Female</label>
                        </div>                   
                    </div>
                            
                </accordion-group>
                <!-- end details -->

                <!-- address -->
                 <accordion-group is-open="status.open">
                    <accordion-heading>
                        Address <i class="pull-right glyphicon" ng-class="{'ion-chevron-down': status.open1, 'ion-chevron-right': !status.open1}"></i>
                    </accordion-heading>
                    <div class="item item-input-inset" style="border:none">
                        
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="Address" ng-model="formData.address"> 
                        </label>
                                       
                    </div>
                    <div class="item item-input-inset" style="border:none">
                        
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="City" ng-model="formData.city"> 
                        </label>
                        
                        &nbsp;
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="Zip" ng-model="formData.zip_code"> 
                        </label>                    
                    </div>
                    <div class="item item-input-inset" style="border:none">
                        
                        
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="State" ng-model="formData.state"> 
                        </label> 
                                           
                    </div>
                    <div class="item item-input-inset" style="border:none">
                        
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="Phone" ng-model="formData.phone"> 
                        </label>
                        
                        &nbsp;
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="Cell" ng-model="formData.cell_phone"> 
                        </label>                    
                    </div>
                    <div class="item item-input-inset" style="border:none">
                        
                       <label class="item-input-wrapper">
                          <input type="text" placeholder="Emergency contact" ng-model="formData.contacts"> 
                        </label> 
                                                                   
                    </div>
                    <div class="item item-input-inset" style="border:none">
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning btn-sm" ng-click="addData()">Save</button>
                        </div>                   
                    </div>
                </accordion-group>
                <!-- end address -->

                <!-- details -->
                <accordion-group is-open="status.open1">
                    <accordion-heading>
                        Educations <i class="pull-right glyphicon" ng-class="{'ion-chevron-down': status.open1, 'ion-chevron-right': !status.open1}"></i>
                    </accordion-heading>

                    <div class="btn-group">
                          <ul class="list-group">
                              <li class="list-group-item" ng-repeat="ed in edu_data track by $index">
                                 <span class="label label-info">Institution</span> : {{::ed.institution}} <br/>
                                 <span class="label label-info">Description</span> : {{::ed.description}} <br/>
                                 <span class="label label-info">Start - End</span> : {{::ed.start}}  -  {{::ed.end}}<br/>
                              </li>
                              
                          </ul>
                          <button type="button" class="btn btn-warning btn-sm" ng-click="modal_education.show()">Add</button>
                        </div>
                </accordion-group>
                <!-- details -->

                <!-- details -->
                <accordion-group is-open="status.open2">
                    <accordion-heading>
                        Employment <i class="pull-right glyphicon" ng-class="{'ion-chevron-down': status.open1, 'ion-chevron-right': !status.open1}"></i>
                    </accordion-heading>

                    <div class="btn-group">
                          <ul class="list-group">
                              <li class="list-group-item" ng-repeat="ed in emp_data track by $index">
                                 <span class="label label-info">Company</span> : {{::ed.company}} <br/>
                                 <span class="label label-info">Position</span> : {{::ed.position}} <br/>
                                 <span class="label label-info">Start - End</span> : {{::ed.start}}  -  {{::ed.end}}<br/>
                                 <span class="label label-info">Responsibility</span> : {{::ed.responsibilities}}<br/>
                              </li>
                              
                          </ul>
                          <button type="button" class="btn btn-warning btn-sm" ng-click="modal_employement.show()">Add</button>
                        </div>
                </accordion-group>
                <!-- details -->

                <!-- details -->
                <accordion-group is-open="status.open3">
                    <accordion-heading>
                        License <i class="pull-right glyphicon" ng-class="{'ion-chevron-down': status.open1, 'ion-chevron-right': !status.open1}"></i>
                    </accordion-heading>

                    <div class="btn-group">
                          <ul class="list-group">
                              <li class="list-group-item" ng-repeat="ed in lic_data track by $index">
                                 <span class="label label-info">Name</span> : {{::ed.license_name}} <br/>
                                 <span class="label label-info">Expiry</span> : {{::ed.license_expiry}} <br/>
                                 <span class="label label-info">Number</span> : {{::ed.license_number}}<br/>
                              </li>
                              
                          </ul>
                          <button type="button" class="btn btn-warning btn-sm" ng-click="modal_license.show()">Add</button>
                        </div>
                </accordion-group>
                <!-- details -->


                <!-- details -->
                <accordion-group is-open="status.open4">
                    <accordion-heading>
                        Family <i class="pull-right glyphicon" ng-class="{'ion-chevron-down': status.open1, 'ion-chevron-right': !status.open1}"></i>
                    </accordion-heading>

                    <div class="btn-group">
                          <ul class="list-group">
                              <li class="list-group-item" ng-repeat="ed in fam_data track by $index">
                                 <span class="label label-info">Name</span> : {{::ed.relative_name}} <br/>
                                 <span class="label label-info">Birthday</span> : {{::ed.birht_date}} <br/>
                                 <span class="label label-info">Relative</span> : {{::ed.relative_type}}<br/>
                              </li>
                              
                          </ul>
                          <button type="button" class="btn btn-warning btn-sm" ng-click="modal_family.show()">Add</button>
                        </div>
                </accordion-group>
                <!-- details -->
            </accordion>
        </div>
                  <script id="modal_education.html" type="text/ng-template">
                      <ion-modal-view >
                        <ion-header-bar class="bar bar-header head">
                          <h1 class="title">{{myModal.title}}</h1>
                          <button class="button button-clear button-primary" ng-click="modal_education.hide()">Cancel</button>
                        </ion-header-bar>
                        <ion-content class="padding">
                          <div class="list">
                          
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Institution" ng-model="edu.institution"> 
                                </label>                                                                           
                            </div>
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Description" ng-model="edu.description"> 
                                </label>                                                                           
                            </div>
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Start" ng-model="edu.start"> 
                                </label>&nbsp;
                                <label class="item-input-wrapper">
                                  <input type="text" placeholder="End" ng-model="edu.end"> 
                                </label>                                                                           
                            </div>
                       
                            <button class="button button-full button-assertive" ng-click="add_education(edu)">Add</button>
                            <!--<button class="button button-full button-assertive" ng-click="editTaskData()" ng-show="s_button" ng-init="false">Save</button>-->
                          </div>
                        </ion-content>
                      </ion-modal-view>
                  </script>

                  <script id="modal_employement.html" type="text/ng-template">
                      <ion-modal-view >
                        <ion-header-bar class="bar bar-header head">
                          <h1 class="title">{{myModal.title}}</h1>
                          <button class="button button-clear button-primary" ng-click="modal_employement.hide()">Cancel</button>
                        </ion-header-bar>
                        <ion-content class="padding">
                          <div class="list">
                          
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Company" ng-model="emp.company"> 
                                </label>                                                                           
                            </div>
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Position" ng-model="emp.position"> 
                                </label>                                                                           
                            </div>
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Start" ng-model="emp.start"> 
                                </label>&nbsp;
                                <label class="item-input-wrapper">
                                  <input type="text" placeholder="End" ng-model="emp.end"> 
                                </label>                                                                           
                            </div>
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Responsibilities" ng-model="emp.responsibilities"> 
                                </label>                                                                           
                            </div>
                       
                            <button class="button button-full button-assertive" ng-click="add_employement(emp)">Add</button>
                            <!--<button class="button button-full button-assertive" ng-click="editTaskData()" ng-show="s_button" ng-init="false">Save</button>-->
                          </div>
                        </ion-content>
                      </ion-modal-view>
                  </script>


                  <script id="modal_license.html" type="text/ng-template">
                      <ion-modal-view >
                        <ion-header-bar class="bar bar-header head">
                          <h1 class="title">{{myModal.title}}</h1>
                          <button class="button button-clear button-primary" ng-click="modal_license.hide()">Cancel</button>
                        </ion-header-bar>
                        <ion-content class="padding">
                          <div class="list">
                          
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Name" ng-model="lic.license_name"> 
                                </label>                                                                           
                            </div>
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Number" ng-model="lic.license_number"> 
                                </label>                                                                           
                            </div>                            
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Expiry" ng-model="lic.license_expiry"> 
                                </label>                                                                           
                            </div>
                       
                            <button class="button button-full button-assertive" ng-click="add_license(lic)">Add</button>
                            <!--<button class="button button-full button-assertive" ng-click="editTaskData()" ng-show="s_button" ng-init="false">Save</button>-->
                          </div>
                        </ion-content>
                      </ion-modal-view>
                  </script>


                  <script id="modal_family.html" type="text/ng-template">
                      <ion-modal-view >
                        <ion-header-bar class="bar bar-header head">
                          <h1 class="title">{{myModal.title}}</h1>
                          <button class="button button-clear button-primary" ng-click="modal_family.hide()">Cancel</button>
                        </ion-header-bar>
                        <ion-content class="padding">
                          <div class="list">
                          
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Name" ng-model="fam.relative_name"> 
                                </label>                                                                           
                            </div>
                            <div class="item item-input-inset" style="border:none">                        
                              

                                 <select class="form-control" ng-model="fam.relative_type">
                                  <option value="">-Select Relative-</option>
                                  <option value="partner">Husband/Wife</option>
                                  <option value="child">Child</option>
                                </select> 
                                                                                                       
                            </div>                            
                            <div class="item item-input-inset" style="border:none">                        
                               <label class="item-input-wrapper">
                                  <input type="text" placeholder="Birthdate" ng-model="fam.birht_date"> 
                                </label>                                                                           
                            </div>
                       
                            <button class="button button-full button-assertive" ng-click="add_family(fam)">Add</button>
                            <!--<button class="button button-full button-assertive" ng-click="editTaskData()" ng-show="s_button" ng-init="false">Save</button>-->
                          </div>
                        </ion-content>
                      </ion-modal-view>
                  </script>
</ion-content>

<div class="tabs tabs-icon-only">
        <a class="tab-item">
            <i class="icon ion-home" ng-click="backHome()"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-plus-circled" ng-click='goToAddDataPage()'></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i>
        </a>
    </div>
</div>
</ion-view>
