<!-- Login page -->

<ion-view title="Login">
<ion-content class="bg">  
<div ng-controller="Login">
  <div class="col">
    <form ng-submit="">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="User Name" ng-model="username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="doLogin()">Submit</button>
        <div>{{success}}</div>
        
      </div>
    </form>
  </div>
</div>
</ion-content>
</ion-view>
