<ion-view title="Positions">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <!-- content-->
    <div ng-controller="Position">
    <ion-content>
        <ion-refresher
        pulling-text="Pull to refresh"
        on-refresh="doRefresh()">
        </ion-refresher>
        
        <div class="ft-container">
        
            <table class="footable" data-page-size="5">
                <thead>
                <tr>
                    <th>
                       Position Name
                    </th>
                    <th data-hide="phone">
                       Responsibilities
                    </th>
                    <th>
                        Action
                    </th>
                
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="posisi in posts()" ng-if="posisi.is_active == 1 ">
            
                    <td>{{::posisi.position_name}}</td>
                    <td>{{::posisi.responsibilities}}</td>
                    <td>
                        <a class="ft-icon-color"><i class="icon ion-edit" ng-click='goToEditDataPage(posisi)'></i></a>
                        <a class="ft-icon-color"><i class="icon ion-trash-b" ng-click="deleteData(posisi)"></i></a>
                    </td>
    
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                        <ul class="pagination">
                        </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>

        
        
        </div>
        
</ion-content>
  <div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-home" ng-click="backHome()"></i>
    Home
  </a>
  <a class="tab-item">
    <i class="icon ion-plus-circled" ng-click='goToAddDataPage()'></i>
    Add Positions
  </a>
</div>
</div>
</ion-view>
<script type="text/javascript">
    $(function () {

        $('table').footable();
        
    });
</script>