<ion-view title="Positions">

    <!--navigation button on top-->
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <!-- content-->
    <div ng-controller="Position">

        <ion-content>
            <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
            </ion-refresher>

                
                <div class="item item-input-inset" style="border:none">

                    <label class="item-input-wrapper">
                    <span class="input-label">Position name</span>
                        <input type="text" placeholder="Enter Position Name" ng-model="formData.position_name"> 
                    </label>                    
                </div>

                <div class="item item-input-inset" style="border:none">
                    <label class="item-input-wrapper">
                    <span class="input-label">Responsibilities</span>
                        <input type="text" placeholder="Enter Position Responsibilities" ng-model="formData.responsibilities"> 
                    </label>                    
                </div>

                 <div class="item item-input-inset" style="border:none">
                    <label class="item-input-wrapper">
                    <span class="input-label">Departments</span>
                        <select class="input--select" ng-model="formData.department_id" ng-options="departments.department_id as departments.department_name for departments in dpt"></select>
                    </label>
                    
                </div>
                <div class="item">
                <input type="radio" ng-model="checked" value ="0">No
                <input type="radio" ng-model="checked" value ="1">yes
                Head of Department
                 
                 <button class="button button-positive" ng-click="pos_skill.show()">Required Skill</button> 
                <button class="button button-positive" ng-click="addData(checked)" ng-if="btnAdd">Add</button> 
                <button class="button button-positive" ng-click="editData()" ng-if="btnEdit">Save</button> 
            
        </ion-content>

    </div>
</ion-view>
