   
    .sidebg {
        background-color: #3f4041;
    }
    
    .sidebg .item, .sidebg .item-content, .sidebg .item-complex{
        background-color: rgba(0,0,0,0);
        color: #FFFFFF;
        border: none;
        border-top: 1px solid #464646;
        border-bottom: 2px solid #333333;
        color: #F0F1F1;
        max-height: none;
    }
    
    .logo{
        height: 170px;
        text-align: center;
    }

    .copyright{
        color: #555555;
    }

    .bg {
        background-color: #172434;
        -moz-box-shadow:    inset 0 0 40px #000000;
        -webkit-box-shadow: inset 0 0 40px #000000;
        box-shadow:         inset 0 0 40px #000000;
    }

    .circle {
        border-radius: 100px;
        box-shadow:0 0 40px #111B28;
    }

    .spacing{
        margin-top: 50px;     
    }

    .trans{
         background-color: rgba(0,0,0,0.2);
         border-style: solid !important;
         border-width: 1px;
         border-color:#121C28;    
    }

    .trans label{
        color: #fff;
    }

    .trans select{
        color: #000;
    }

    .trans .item{
        border-style: none !important;
        border-width: 0;
    }

    .ft-icon-color i{
        color: black;
        font-size: 25px;
    }